@use '../base/variables' as *;
@use '../abstracts' as *;
.productPage {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  padding: 1rem 0;
  @include media($tablet) {
    grid-template-columns: 1fr;
  }
  .info {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}
